@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul, ol{list-style: none;}
.clearfix::after{content: ""; display: block; clear: both;}
img, video{vertical-align: middle;}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ahnjunggeun';
    src: url('font/KCCAhnjunggeun.woff2') format('woff2'),
        url('font/KCCAhnjunggeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ahnjunggeun00';
    src: url('font/KCCAhnjunggeun00.woff2') format('woff2'),
        url('font/KCCAhnjunggeun00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SunBatang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: "맑은 고딕"; font-size: 14px; line-height: 24px; color: #000; min-width: 1440px;}

#header{background-color: #fff; position: fixed; top: 0; left: 0; width: 100%; z-index: 10;}
#header_inner{width: 1280px; margin: 0 auto; height: 100px;}
.logo{float: left; padding-top: 20px;}
.gnb{float: left;}
.gnb>li{float: left; padding: 38px 30px; font-size: 16px; font-weight: bold;}
.gnb>li:nth-child(3){padding-right: 0;}
.id{padding-top: 50px;}
.id>li{float: left; padding-right: 20px;}
.id>li:nth-child(4){padding-right: 0;}
.id>li>img{display: inline-block;}
.id{float: right;}

#sub{background-color: #000; width: 100%; height: 250px; display: none; position: absolute; top: 100px; left: 0; width: 100%;}
#sub_inner{width: 1280px; margin: 0 auto; color: #fff; font-size: 16px; font-weight: bold; position: relative;}
#sub_inner li{padding: 20px 0; text-align: center;}
.QWER_logo{position: absolute; top: 0; left: 0; width: 200px;}
.products{position: absolute; top: 0; left: 15.5%; width: 144.78px;}
.community{position: absolute; top: 0; left: 27%; width: 162.08px;}
.support{position: absolute; top: 0; left: 40%; width: 132.28px;}

#about{margin-top: 100px; background-image: url(images/sub1_brand/about_bg.jpg); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; height: 300px;}
#about_inner{width: 1280px; margin: 0 auto; position: relative;}
.about_box{margin-top: 100px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 1200px;}
.about_title{padding-top: 60px; padding-bottom: 20px;}
.about_text{font-family: "SBAggroL"; font-size: 36px; line-height: 46px; color: #fff;}

#brand_inner{width: 1280px; margin: 0 auto;}
.brand_text{text-align: center; font-family: "SBAggroM"; font-size: 36px; line-height: 46px; color: #000; padding: 50px 0;}

#quality_inner{width: 1280px; margin: 0 auto; position: relative;}
.quality_box{position: absolute; top: 50%; left: 50%; transform: translate(-25%, -50%); width: 820px;}
.bold_title1{font-family: "SBAggroB"; font-size: 72px; line-height: 82px; color: #fff;}
.bold_title1>img, .bold_title2>img{padding-bottom: 40px;}
.Medium_title1{font-family: "SBAggroM"; font-size: 48px; line-height: 58px; color: #fff; text-align: center; padding: 50px 0;}
.light_text1{font-family: "SBAggroL"; font-size: 36px; line-height: 46px; color: #fff; padding-left: 400px;}

#wonderful_inner{width: 1280px; margin: 0 auto; position: relative;}
.wonderful_box{position: absolute; top: 50%; left: 50%; transform: translate(-67%, -50%); width: 890px;}
.bold_title2{font-family: "SBAggroB"; font-size: 72px; line-height: 82px; color: #fff; padding-left: 400px;}
.Medium_title2{font-family: "SBAggroM"; font-size: 48px; line-height: 58px; color: #fff; text-align: center; padding: 50px 0;}
.light_text2{font-family: "SBAggroL"; font-size: 36px; line-height: 46px; color: #fff;}

#enjoy_inner{width: 1280px; margin: 0 auto; position: relative;}
.enjoy_box{position: absolute; top: 50%; left: 50%; transform: translate(-5%, -50%); width: 820px;}
.bold_title3>img{padding-bottom: 46px;}
.Medium_title3{font-family: "SBAggroM"; font-size: 48px; line-height: 58px; color: #fff; padding: 50px 0; padding-left: 210px;}
.light_text3{font-family: "SBAggroL"; font-size: 36px; line-height: 46px; color: #fff; padding-left: 280px;}

#reality_inner{width: 1280px; margin: 0 auto; position: relative;}
.reality_box{position: absolute; top: 50%; left: 50%; transform: translate(-67%, -50%); width: 820px;}
.bold_title1{font-family: "SBAggroB"; font-size: 72px; line-height: 82px; color: #fff;}
.bold_title1>img, .bold_title2>img{padding-bottom: 40px;}
.Medium_title1{font-family: "SBAggroM"; font-size: 48px; line-height: 58px; color: #fff; text-align: center; padding: 50px 0;}

#bg{margin-top: 160px;}
#bg>img{width: 100%;}

#footer{background-color: #ccc;}
#footer_inner{width: 1280px; margin: 0 auto; font-family: "맑은 고딕"; font-size: 14px; line-height: 24px; color: #000;}
#footer_inner ul li{float: left;}
.footer_logo{float: left; padding-right: 20px; padding-top: 23.5px;}
.legal{float: left; padding: 38px 0;}
.legal>li{padding-right: 100px;}
.legal>li:nth-child(3){padding-right: 0;}
.sns{float: right; padding: 25px 0;}
.sns>li{padding-right: 20px;}
.sns>li:nth-child(5){padding-right: 0;}
.footer_text{float: left; padding: 10px 0;}