@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul, ol{list-style: none;}
.clearfix::after{content: ""; display: block; clear: both;}
img, video{vertical-align: middle;}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ahnjunggeun';
    src: url('font/KCCAhnjunggeun.woff2') format('woff2'),
        url('font/KCCAhnjunggeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ahnjunggeun00';
    src: url('font/KCCAhnjunggeun00.woff2') format('woff2'),
        url('font/KCCAhnjunggeun00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SunBatang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-family: "맑은 고딕"; font-size: 14px; line-height: 24px; color: #000; min-width: 1440px;}

#header{background-color: #fff; position: fixed; top: 0; left: 0; width: 100%; z-index: 10;}
#header_inner{width: 1280px; margin: 0 auto; height: 100px;}
.logo{float: left; padding-top: 20px;}
.gnb{float: left;}
.gnb>li{float: left; padding: 38px 30px; font-size: 16px; font-weight: bold;}
.gnb>li:nth-child(3){padding-right: 0;}
.id{padding-top: 50px;}
.id>li{float: left; padding-right: 20px;}
.id>li:nth-child(4){padding-right: 0;}
.id>li>img{display: inline-block;}
.id{float: right;}

#sub{background-color: #000; width: 100%; height: 250px; display: none; position: absolute; top: 100px; left: 0; width: 100%;}
#sub_inner{width: 1280px; margin: 0 auto; color: #fff; font-size: 16px; font-weight: bold; position: relative;}
#sub_inner li{padding: 20px 0; text-align: center;}
.QWER_logo{position: absolute; top: 0; left: 0; width: 200px;}
.products{position: absolute; top: 0; left: 15.5%; width: 144.78px;}
.community{position: absolute; top: 0; left: 27%; width: 162.08px;}
.support{position: absolute; top: 0; left: 40%; width: 132.28px;}

#product_banner{margin-top: 100px; position: relative;}
#product_banner>img{width: 100%;}
#pb_inner{width: 1280px; margin: 0 auto;}
.pb_box{position: absolute; top: 50%; left: 50%; transform: translate(-100%, -53%); width: 600px; text-align: center;}
.pb_box>img{padding-bottom: 40px;}
.pb_text{font-family: "SBAggroM"; font-size: 36px; line-height: 46px; color: #000; padding: 40px 0;}

#sangse_inner{width: 1280px; margin: 0 auto;}
.title{font-family: "SBAggroB"; font-size: 30px; text-align: center; padding-top: 100px; padding-bottom: 40px;}
#sangse_inner table{border-collapse: collapse; width: 1280px; border: 1px solid #000; margin-bottom: 60px;}
table .chk_box{display: flex; padding: 10px 20px; width: 1162px; box-sizing: border-box;}
table th{padding: 10px 20px; box-sizing: border-box; text-align: center;}
table span{width: 180px; box-sizing: border-box;}
.table_title{text-align: left; font-family: "맑은 고딕"; font-size: 24px; font-weight: bold; padding-bottom: 10px;}
.chk_box input{margin: 0 10px 0 0; width: 18px; height: 18px;}
table td{font-size: 16px;}
table th{border-right: 1px solid #000;}
.border_bot{border-bottom: 1px solid #000;}


#product_inner{width: 1280px; margin: 0 auto;}
.product_box{border-top: 1px solid #000; padding: 20px; display: flex; justify-content: space-between; }
.product_text{padding: 58px 20px; height: 300px; box-sizing: border-box; position: relative;}
.product_name{font-family: "맑은 고딕"; font-size: 18px; padding-bottom: 20px;}
.price{color: #2461fd; font-size: 24px; font-weight: bold; text-align: right; position: absolute; bottom: 10%; right: 0;}
.won{font-size: 16px; font-weight: normal;}
.product_buy{padding: 50px 10px 0 10px;}
.star{width: 250px;}
.star>img{width: 204px; height: 37px; display: inline-block; padding-bottom: 10px; padding-right: 4px;}
.star>p{font-size: 18px; display: inline-block;}
.btn_box{text-align: center; width: 250px; padding: 20px 10px;}
.dibs{padding: 30px 57px;}
.dibs_btn{border: 1px solid #000; border-radius: 20px; text-align: center; padding: 7px 37px; font-family: "맑은 고딕"; font-size: 18px; font-weight: bold; width: 130px; height: 40px;}
.buy{display: flex; justify-content: space-between; padding-top: 53px;}
.plus, .minus{border: 1px solid #8c8c8c; width: 40px; height: 40px; border-radius: 20px; color: #888; font-size: 60px; text-align: center;}
.count{font-size: 24px; padding-top: 6px;}
.buy_btn{border: 1px solid #000; border-radius: 20px; text-align: center; font-size: 18px; font-weight: bold; padding: 8px 28px;}
.btm_border{border-bottom: 1px solid #000;}

#page_inner{width: 1280px; margin: 100px auto; display: flex; justify-content: space-between;}
.page_count ul li{float: left; padding: 3px 80px 0px 0; font-size: 16px; font-weight: bold; color: #000;}
.page_count ul li:nth-child(10){padding-right: 0;}
.page_count ul li a{display: inline-block;}

#ad_inner{width: 1280px; margin: 0 auto; position: relative;}
.ad_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 1200px;}
.ad_text{font-family: "SBAggroM"; font-size: 24px; line-height: 34px; text-align: center;}
.ad_box>img{padding: 10px 40px 10px 300px;}
.buy_btn1{display: inline-block; padding: 6px 30.5px; border: 2px solid #000; border-radius: 20px; font-family: "SBAggroM"; font-size: 18px; text-align: center; position: absolute; bottom: 12%; right: 15%;}

#bg{margin-top: 160px;}
#bg>img{width: 100%;}

#footer{background-color: #ccc;}
#footer_inner{width: 1280px; margin: 0 auto; font-family: "맑은 고딕"; font-size: 14px; line-height: 24px; color: #000;}
#footer_inner ul li{float: left;}
.footer_logo{float: left; padding-right: 20px; padding-top: 23.5px;}
.legal{float: left; padding: 38px 0;}
.legal>li{padding-right: 100px;}
.legal>li:nth-child(3){padding-right: 0;}
.sns{float: right; padding: 25px 0;}
.sns>li{padding-right: 20px;}
.sns>li:nth-child(5){padding-right: 0;}
.footer_text{float: left; padding: 10px 0;}